@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500;600;700&display=swap");
@font-face {
  font-family: "Gothic Joker";
  src: url("../fonts/Gothic-Joker.ttf");
}
$English-Fantasy-font: "Edu VIC WA NT Beginner", cursive;
$Second-English-Fantasy-Font: "Gothic Joker";
