@import "fonts";

@mixin flexcol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.filmBody {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.644),
      rgba(0, 0, 0, 0.63)
    ),
    url("../img/1060178.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-border {
  height: 80vh;
  border: 1px solid #27ae60;
}
.menu-links {
  font-family: $English-Fantasy-font;
  font-weight: 700;
  font-size: 20px;
}
.menu-links:hover {
  color: #27ae60 !important;
}

.social-links {
  font-size: 20px;
}
.social-links:hover {
  color: #e74c3c !important;
}

.bodyContent {
  @include flexcol;
}

.bodyTitle {
  font-family: $Second-English-Fantasy-Font;
  font-size: 120px;
}
